header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 45px;
    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

        li {
            list-style: none;
            font-size: 1rem;
            font-weight: 600;
            font-family: "Inter", sans-serif;

        }

        a {
            color: var(--d-gray);
        }
    }
}