header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 45px;
    ul {
        display: flex;
        flex-direction: row;
        gap: 20px;

        li {
            list-style: none;
            color: var(--d-gray);
            font-size: .95rem;
        }
    }
    button {
        background: var(--primary);
        padding: 10px;
        border: none;
        border-radius: 3px;
        color: var(--white);
    }
}