<app-header/>
<main>
    <div class="main-content">
        <div class="text-principal">
            <h1>
                Lessons and insights <br>
                <span>from 8 years</span> 
            </h1>
            <p>Where grow is your your business as a photographer: site or social media?</p>
            <app-button class="button" text="Register"/>
        </div>        
        <img src="assets/teste.jpg" alt="" class="principal" width="400">
    </div>
    <div class="dot">
        <img src="assets/Dot.png" alt="dot">
    </div>

    <app-sobre/>

    <div class="parceiros">
        <h4>Our Clients</h4>
        <p>We have been working with some Fortune 500+ clients</p>
        <div class="imgs-parc">
            <img src="assets/icons-parceiros/oc.png" alt="oc">
            <img src="assets/icons-parceiros/ponto.png" alt="ponto">
            <img src="assets/icons-parceiros/sum.png" alt="sum">
            <img src="assets/icons-parceiros/sum.png" alt="sum">    
            <img src="assets/icons-parceiros/trevo.png" alt="trevo">
            <img src="assets/icons-parceiros/trevo.png" alt="trevo">
        </div>
    </div>


    <div class="pixel">
        <img src="assets/pixel.png" alt="" width="307" height="229">

        <div class="text-pixel">
            <h3>The unseen of spending three <br>
                years at Pixelgrade</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet justo ipsum. Sed accumsan quam vitae <br>  est 
                varius fringilla. Pellentesque placerat vestibulum lorem sed porta.Nullam  mattis tristique iaculis. Nullam <br> pulvinar
                sit amet risus pretium auctor. Etiam quis massa pulvinar, aliquam quam vitae, tempus sem. <br> Donec elementum pulvinar odio.</p>
                <app-button text="Learn More"/>
        </div>
    </div>


    <div class="atividades">
        <div class="heading">
            <h4>Helping a local <br>
                <span> business reinvent itself</span></h4>
            <p>We reached here with our hard work and dedication</p>
        </div><!--heading-->
       

        <div class="count-content">
            <div class="count">
                <img src="assets/icons-atividades/person.png" alt="person" width="45" height="42">
                <div class="text">
                    <b>2,245,341</b>
                    <p>Members</p>
                </div>
            </div>
            <div class="count">
                <img src="assets/icons-atividades/dedo.png" alt="dedo" width="45" height="42">
                <div class="text">
                    <b>828,867</b>
                    <p>Event Bookings</p>
                </div>
            </div>

        </div><!--count-content-->
   
        <div class="count-content">
            <div class="count">
                <img src="assets/icons-atividades/hands.png" alt="maos" width="45" height="42">
                <div class="text">
                    <b>46,328</b>
                    <p>Clubs</p>
                </div>
            </div>
            <div class="count">
                <img src="assets/icons-atividades/card.png" alt="cartao" width="45" height="42">
                <div class="text">
                    <b>1,946,436</b>
                    <p>Payments</p>
                </div>
            </div>
        </div>
 </div><!--atividades-->
    
    
    
</main>