<app-header/>
<main>
    <div class="main-content">
        <div class="text-principal">
            <h1>
                Lessons and insights <br>
                <span>from 8 years</span> 
            </h1>
            <p>Where to grow your business as a photographer: site or social media?</p>
        </div>        
        <img src="assets/principal.png" alt="" class="principal">
    </div>
    <div class="dot">
        <img src="assets/Dot.png" alt="dot">
    </div>


    <div class="parceiros">
        <h4>Our Clients</h4>
        <p>We have been working with some Fortune 500+ clients</p>
        <div class="imgs-parc">
            <img src="assets/icons-parceiros/oc.png" alt="oc">
            <img src="assets/icons-parceiros/ponto.png" alt="ponto">
            <img src="assets/icons-parceiros/sum.png" alt="sum">
            <img src="assets/icons-parceiros/sum.png" alt="sum">    
            <img src="assets/icons-parceiros/trevo.png" alt="trevo">
            <img src="assets/icons-parceiros/trevo.png" alt="trevo">
        </div>
    </div>

    
</main>