<section>
    <div class="text">
        <h2>Manage your entire community in a single system </h2>
        <p>Who is Nextcent suitable for?   </p>
    </div>
    <div class="content-box">
        <app-box 
        title="Membership Organisation"
        imageSrc="assets/Icon.png" 
        altText="membros" 
        description="Our membership management software provides full automation of membership renewals and payments"/>
        <app-box 
        title="Membership Organisation"
        imageSrc="assets/maos.png" 
        altText="membros" 
        description="Our membership management software provides full automation of membership renewals and payments"/>
        <app-box 
        title="Membership Organisation"
        imageSrc="assets/predios.png" 
        altText="membros" 
        description="Our membership management software provides full automation of membership renewals and payments"/>
    </div>
</section>