* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

:root {
    --d-gray: #4D4D4D;
    --gray: #717171; 
    --black: ##263238;
    --grey: #89939E;
    --grey-blue: #ABBED1;
    --primary: #1cabdf;
    --silver: ##F5F7FA;
    --white:#FFF;
}